<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>首页</title>

<meta charset="UTF-8" />
<link href="/favicon.ico" rel="icon" type="image/x-icon" />
<link href="css/main.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="libs/jquery-easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="libs/jquery-easyui/themes/icon.css">

<script type="text/javascript" charset="utf8" src="libs/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="libs/jquery-easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="libs/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="libs/spin.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script th:inline="javascript">
	var basePath = [[${basePath}]];
</script>
</head>
<body>
	<div id="content" class="easyui-layout" style="width:100%;margin-top: 20px;">
		<h2 align="center" th:text="|欢迎${username}登录Shiro认证系统|"></h2>
	</div>
</body>
</html>